= bootstrap_form_for [object, @announcement], remote: true do |f|
  = f.label :body, "Announcement"
  = f.text_area :body, html: {class: "form-control"}
  = f.submit "Submit", class: "btn btn-sm btn-primary"
  = hidden_field_tag :object_type, object_type
%h5 Announcements
%small#saving Saving...
%ul#announcements.v_margin{"data-update-url" => sort_group_announcements_path(object)}
  = render object.announcements