%h1.center People I follow

%ul.row
  - @user.following_relationships.each do |relationship|
    %li.col-md-4.center{id: "relationship#{@user.slug}"}
      .thumbnail
        = link_to user_path(relationship.leader) do
          = image_tag relationship.leader.profile_img.thumbnail
        .caption
          %h3= link_to relationship.leader.name, user_path(relationship.leader)
        .row
          = link_to user_path(relationship.leader) do
            .btn.btn-primary User Profile
          .btn.btn-warning.v_margin
            = link_to "Unfollow User", relationship_path(relationship), method: "delete", data: {confirm: "Are you sure you want to unfollow this person?"}, remote: true