= bootstrap_form_for @group do |f|
  .form-group
    = f.text_field :name
  .form-group
    = f.select :category_id, categories_dropdown
  .form_group
    = f.text_field :city
  .form_group
    = f.text_field :state
  .form-group
    = f.text_field :zip_code
  .form_group
    = f.text_field :country
  .form-group
    = f.text_area :description, rows: 5
    = f.file_field :cover_img, class: "btn btn-file"
  .form_group
  = f.submit (@group.new_record? ? "Create Group" : "Save Group"), class: "btn btn-primary"
