.show_group_main
  %header.row
    .col-md-8
      %h1=  @group.name
      %h4
        = link_to @group.category.name, category_path(@group.category)
      %small #{@group.city}, #{@group.state} #{@group.zip_code}
    .col-md-2
      %h4 Group Leader
      %h5= @group.creator.name
    .col-md-2
      %img.circle{:src => "http://placehold.it/100x100"}/

  %p.well= @group.description
  %h3 Announcements

  .well Welcome Everyone! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint neque quaerat beatae doloribus molestiae velit, alias quidem ab expedita, earum tempora nemo ipsum. Tempore quas, fugiat fuga magni ex facilis!

  %h4 Posts
  %hr/
  = bootstrap_form_for [@group, @comment], remote: true do |f|
    = f.label :body, "Comment"
    = f.text_area :body, html: {class: "form-control"}
    = f.submit "Submit", class: "btn btn-sm btn-primary"
    = hidden_field_tag :object_type, "Group"
  %ul.group_posts
    = render @group.comments