.show_group_main
  %header.row
    .col-md-8.large_cover_image{style: "background-image: url(#{@group.cover_img});"}
      .header_information
        %h1=  @group.name
        - if current_user.can_modify_group?(@group)
          %small.blue_text
            = link_to "Modify Group", edit_group_path(@group)
        %h4
          = link_to @group.category.name, category_path(@group.category)
        %small #{@group.city}, #{@group.state} #{@group.zip_code}
    = render "creator", creator: @group.creator
  #button_container
    = render_join_or_leave_group_button
  .row.description_and_members
    .col-md-8
      %p.well= @group.description
    .col-md-4
      %h4.remove_top_margin Members
      %hr/
      %ul.members_preview
        - @group.members.each do |member|
          = render "groups/member", member: member

  = render "shared/announcements_section", object: @group
  .row
    .col-md-8
      %h4 Upcoming Events
      = render "upcoming_events_for_group"

    .col-md-4
      %h4 Posts
      %hr/
      = render "comments/comments_section", object: @group, object_type: "Group"