.show_group_main
  %header.row
    .col-md-8
      %h1=  @group.name
      - if current_user.can_modify_group?(@group)
        %small.blue_text
          = link_to "Modify Group", edit_group_path(@group)
      %h4
        = link_to @group.category.name, category_path(@group.category)
      %small #{@group.city}, #{@group.state} #{@group.zip_code}
    .col-md-2
      %h4 Group Leader
      %h5= @group.creator.name
    .col-md-2
      %img.circle{:src => "http://placehold.it/100x100"}/
  #button_container
    = render_join_or_leave_group_button
  .row
    .col-md-8
      %p.well= @group.description
    .col-md-4
      %h4.remove_top_margin Members
      %hr/
      %ul.members_preview
        - @group.members.each do |member|
          = render "groups/member", member: member

  - if @group.has_announcements?
    %h3 Announcements
    .well
      - @group.announcements.each do |announcement|
        = announcement.body
        %hr/

  %h4 Posts
  %hr/
  = render "comments/comments_section", object: @group, object_type: "Group"