.show_user_main
  - if @new_account
    .new_account_prompt.center.well
      %h2 Welcome to My People
      %p Please start by uploading a profile picture and adding a description so people know about you.
  %h1 Update Account
  .container
    = bootstrap_form_for @user, class: "form-register" do |f|
      = f.email_field :email, placeholder: "Email Address"
      = f.password_field :password, placeholder: "Password"
      = f.text_field :name, placeholder: "Name"
      = f.file_field :profile_img, class: "btn btn-file"
      = f.text_area :profile_description, placeholder: "Write something interesting about yourself..."
      = f.check_box :private_profile, label: "Make profile private"
      = f.submit "Update Account", class: "btn. btn-lg btn-primary btn-block"
