
.show_user_main
  %h1 Register
  .container
    = bootstrap_form_for @user, class: "form-register" do |f|
      = f.email_field :email, placeholder: "Email Address"
      = f.password_field :password, placeholder: "Password"
      = f.text_field :name, placeholder: "Name"
      = f.submit "Create Account", class: "btn. btn-lg btn-primary btn-block"
  %h3 Or signup with Facebook
