.margin_center
  - if @user.private_profile
    .well
      %h2 This profile is private
  - else
    %h1 #{@user.name}'s profile
    %img.img-circle{:src => "#{@user.profile_img}"}/
    = render_follow_button
    - if @user.profile_description
      .well.v_margin= @user.profile_description
    .row
      = render "upcoming_rsvps"
      .col-md-5.user_page_comments
        %h4 Posts
        %hr/
        = render "comments/comments_section", object: @user, object_type: "User"

