%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "My People", root_path, class: "navbar-brand"
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to "Events", events_path
        %li
          = link_to "Groups", groups_path
        %li
          = link_to "People I Follow", people_i_follow_path
        %li
          = link_to new_path do
            .row
              .col-sm-1
                .glyphicon.glyphicon-plus
              .col-sm-1
                New
      %ul.nav.navbar-nav.navbar-right
        - if logged_in?
          %li
            = link_to "Sign Out", sign_out_path
        - else
          %li
            = link_to "Sign In", sign_in_path
        - if logged_in?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              My Account
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} My Groups and Events
              %li
                = link_to "View Profile", my_profile_path
              %li.divider{:role => "separator"}
              %li
                = link_to "Account Settings", edit_user_path(current_user)
    / /.navbar-collapse
  / /.container-fluid