.new_event_main
  .row
    .col-sm-6
      - if @event.new_record?
        %h1 Create New Event
      - else
        %h1 Edit  Event
      = bootstrap_form_for @event do |f|
        .form-group
          = f.text_field :name
        .row
          .form-group
            .col-sm-6
              = f.text_field :date_time, id: "datetimepicker4", class: "form-control"
            .col-sm-6
              = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: Time.zone.name
        .row
          .form-group
            .col-sm-6
              = f.text_field :street_address
            .col-sm-6
              = f.text_field :zip_code

        .form-group
          = f.select :category_id, categories_dropdown
        .form-group
          = f.text_area :description, rows: 3
          = f.file_field :cover_img, class: "btn btn-file"
          = f.submit "Create Event", class: "btn btn-primary"