.show_event_main
  .row
    %header
      .col-md-8.large_cover_image{style: "background-image: url(#{@event.cover_img});"}
        .header_information
          %h2= @event.name
          %h5= @event.street_address
          %small= @event.date_time
      = render "users/creator", object: @event
  #button_container
    = render_rsvp_button

  %img{:src => "#{@event.img}", :alt => ""}/
  .row
    %p.well.col-md-8= @event.description
    .col-md-4
      %h4.remove_top_margin Attendees
      %ul.nav.nav-tabs
        %li.nav.active
          %a{"data-toggle" => "tab", :href => "#going"} Going
        %li.nav
          %a{"data-toggle" => "tab", :href => "#not_going"} Not Going
      / Tab panes
      .tab-content
        #going.tab-pane.fade.in.active
          - @event.all_going.each do |rsvp|
            = render "rsvps/rsvp", rsvp: rsvp
        #not_going.tab-pane.fade
          - @event.all_not_going.each do |rsvp|
            = render "rsvps/rsvp", rsvp: rsvp
  = render "shared/announcements_section", object: @event

  %h4 Posts
  %hr/
  = render "comments/comments_section", object: @event, object_type: "Event"

