%h1 Pages

%ul
  %li
    = link_to "Home", "ui/home"
  %li
    = link_to "Log In", "ui/log_in"
  %li
    = link_to "Log Out", "ui/log_out"
  %li Event
  %ul
    %li
      = link_to "Show", "ui/events_show"
    %li
      = link_to "New", "ui/events_new"
    %li
      = link_to "Edit", "ui/events_edit"
  %li Group
  %ul
    %li
      = link_to "Show", "ui/groups_show"
    %li
      = link_to "Events", "ui/groups_events"
    %li
      = link_to "Members", "ui/groups_members"
  %li User
  %ul
    %li
      = link_to "New", "ui/users_new"
    %li Show
    %li Follow
  %li City
  %ul
    %li View
    %li New
  %li Search
  %ul
    %li New
    %li Show results
