!!! 5
%html(lang="en-US")
  %head
    %title My People
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    %header
      = render 'shared/header'
    %section.content.clearfix
      %main.container-fluid
        = yield
    %nav.navbar.navbar-default.navbar-fixed-bottom
      &copy 2016 Josh Lee
